sudo: required

services:
  - docker

language: node_js
node_js:
  - 14

before_install:
  - docker build -t steve1313/dnd-5e-api .
  - docker run -d -p 3003:3000 steve1313/dnd-5e-api
  - docker ps -a

deploy:
  provider: script
  script: bash deploy_dockerhub.sh
  on:
    branch: master